<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <title>Home</title>
    </head>
    <body>
	    <font face="Arial Black">
		    <center>
		        <table border="1" cellspacing="2" cellpadding="5" width="100%">
                <tr>
		        <td colspan="4" >
                    <center>
                        <font size="8">
                            <marquee width="100%" bgcolor="HoneyDew">
                                Design And Implementation Of Hotel Reservation System Using Python And PHP
                            </marquee>
                        </font>
                    </center>
                </td>
                </tr>
		        <tr>
		            <td><center><a href="/dashboard">Home</a></center></td>
		            <td><center><a href="/requestroom">Request Room</a></center></td>
		            <td><center><a href="/logout">Logout</a></center></td>
		        </tr>
		        </table>
		    </center>
	    </font>
	    <div class="container">
            <form action="/requestroomform" method="post">

                <div class="form-group">
                    <label>Enter Aadhar Number:</label>
                    <input type="digits" name="aadhar" required=""/> 
                </div>

                <div class="form-group">
                    <label>Enter City:</label>
                    <input type="text" name="city" required="" /> 
                </div>

                <div class="form-group">
                    <label>Enter No of Rooms:</label> 
                    <input type="number" name="noofrooms" required="" /> 
                </div>
                
                <div class="form-group">
                    <label>Enter No of Days:</label> 
                    <input type="number" name="noofdays" required="" /> 
                </div>
                
                <div class="form-group">
                    <label>Enter Booking Date:</label> 
                    <input type="text" name="date" required="" /> 
                </div>

                <div class="form-group">
                    <label>Enter No of Adults:</label> 
                    <input type="number" name="noofadults" required="" /> 
                </div>

                <div class="form-group">
                    <input type="submit" value="Request Room" /> 
                </div>

            </form>
            <span style="color:white">{{res}}</span>
        </div>
    </body>
</html>